body{
    background-color: #F1f0ed;
}

.entete{
    margin: 1.5rem 2rem 5rem 3rem;
    text-transform: uppercase;
    color: #011f41;
    float: right;
}

.wrapper{
    width: 100%;
    height: 100vh;
}

.wrapper-img{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.wrapper-text{
    width: 100%;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    line-height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}
.wrapper-text h4{
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color: #011f41;
}
.wrapper-text1 p{
    margin-bottom: 1rem;
    margin-right: 3rem;
}

.wrapper-text2 p{
    margin-bottom: 1rem;
}

.wrapper-text3{
    /* margin-left: 20rem;
    line-height: 2rem;
    width: 1rem; */
    
}

.wrapper-text h4{
    margin-bottom: 1rem;
}

